.root {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.traffic {
  width: 100vw;
  height: 25vh;
  background-color: rgb(243, 229, 228);
}

.traffic > h3 {
  border: 1px solid #000;
  background-color: salmon;
  font-size: 2vw;
}

.date {
  width: 100vw;
  font-weight: bold;
}
